/* generator/templates/css/result_password.css */
body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #03637e, #76787a); /* Gradient background */
}

.result-password-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #252b2c, #0072ff);
    border-image-slice: 1;
}

h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
}

p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #eee;
}

.password {
    font-size: 2rem;
    font-weight: bold;
    color: #00ff00; /* Bright color for the password */
    margin-bottom: 2rem;
    word-wrap: break-word; /* Ensure long passwords wrap */
}

.btn {
    background: linear-gradient(to right, #638994, #024392);
    border: none;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:hover {
    background: linear-gradient(to right, #0072ff, #012630);
}

.action-buttons {
    margin-top: 2rem;
}

.action-buttons a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 1rem;
}

.action-buttons a:hover {
    text-decoration: underline;
}
