/* generator/templates/css/password_generator.css */
body {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #03637e, #76787a); /* Gradient background */
  }
  
  .password-generator-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 600px;
    text-align: center;
    border: 2px solid transparent;
    border-image: linear-gradient(to right, #252b2c, #0072ff);
    border-image-slice: 1;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #fff;
  }
  
  .form-label {
    font-weight: bold;
    color: #fff;
  }
  
  .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    border-bottom: 2px solid rgb(0, 173, 230);
    color: #fff;
    padding: 0.5rem 0;
    margin-bottom: 1.5rem;
    font-family: "Montserrat-SemiBold";
    transition: border-color 0.3s;
  }
  
  .form-control:focus {
    border-color: #fff;
    outline: none;
  }
  
  .form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    transition: color 0.3s, transform 0.3s;
    transform-origin: left top;
  }
  
  .form-control:focus::placeholder,
  .form-control:not(:placeholder-shown)::placeholder {
    color: transparent;
    transform: translateY(-1.5rem) scale(0.8);
  }
  
  button {
    background: linear-gradient(to right, #638994, #024392);
    border: none;
    color: #fff;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: linear-gradient(to right, #0072ff, #012630);
  }
  